$color-1: #9356DC;
$color-2: #FF79DA;
$color-3: #99E2D0;
$color-4: #eaeaea;
$color-5: #f6f6f6;

$box-shadow: 0px 15px 30px #d0d0d0;
$box-shadow-h:0px 30px 60px #d0d0d0;


@mixin mobile
{
    @media screen and (max-width: 990px)
    {
    display: flex;
    flex-direction: column;
    }
}

@mixin font-1
{
    font-family: 'Shrikhand';
    font-size: 1em;
}

@mixin font-2
{
    font-weight: 700;
    font-size: 3em;
    text-align: center;
}

@mixin font-3
{
    font-weight: 700;
    font-size: 2.5em;
}

@mixin font-4
{
    font-weight: 100;
    font-size: 2em;
    text-align: center;
}

@mixin btn-1
{
    border-radius: 5em 5em 5em 5em;
    padding: 3em 6em;
    background: linear-gradient($color-2, $color-1);
    color: white;
    box-shadow: $box-shadow;
    &:hover{
    background: lighten($color-1, 10%);
    background: lighten($color-2, 10%);
    }
}

.load-1
{
    display:flex;
    &-1
    {
        margin:40%;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 3px solid $color-1;
        border-top: hidden;
        animation: spinner ease-in-out 750ms;
        animation-iteration-count: 3;
        position: absolute;
        align-items: center;
        opacity: 0;
    }
}

@keyframes spinner
{
    0%{
        transform: rotate(0deg);
    }
    0%,10%{
        opacity: 0;
    }
    
    90%,100% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
    }
}


a
{
    color: black;
    text-decoration: none;
    &:hover
    {
        box-shadow: $box-shadow-h;
    }
}

body
{
    margin: 0%;
    font-family: 'Roboto' black;
}

.page
{
    animation: page 3s;
    animation-fill-mode: both;
}

@keyframes page
{
    0%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header
{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.ti1
{
    width: 100%;
}

article
{
    background-color: $color-5;
    @include mobile;
    align-items: center;
}

.ar1
{
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    background-color: $color-4;
    margin: 0%;
    @include font-4;
    &--i
    {
        padding-right: 3%;
    }
}

.ar2
{
    margin: 2%;
    margin-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    @include font-2;
}

.ar3
{
    margin: 2%;
    padding-left: 5%;
    padding-right: 5%;
    @include font-4;
}

.btn1
{
    margin: 2%;
    margin-bottom: 10%;
    @include btn-1;
}

nav
{
    @include mobile;
    margin: 7%;
}

.nav1
{
    padding: 0% 2%;
    @include font-2;
    text-align: left;
}

.nav
{
    margin: 2%;
    padding: 5% 0%;
    width: 100%;
    border-radius: 50px;
    background-color: $color-5;
    @include font-3;
    white-space: nowrap;
    box-shadow: $box-shadow;
    &:hover
    {
        background-color: lighten($color-1,30%);
        opacity: 0.7;
        & i
        {
        color: $color-1;
        }
    }
    &--s
    {
        background-color: $color-1;
        color: white;
        border-radius: 50px;
        font-family: 'Roboto';
        font-weight: 100;
        padding: 7px 20px;
        margin-left: -20px;
    }
    &--i
    {
        margin: 0px 45px;
        &--1
        {
            margin: 0px 50px;
        }
    }
}

#section
{
    background-color: $color-5;
    padding: 7%;
    @include mobile;
}

section a
{
    background-color: white;
}
.se--a
{
    margin: 2%;
    border-radius:50px;
    &--h1
    {
        @include font-2;
        text-align: left;
    }
    &--img
    {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius:50px 50px 00px 0px;
    }
    &--em
    {
        background-color: $color-3;
        color: darken($color-3,20%);
        font-weight: bold;
        font-size: 1.5em;
        position: relative;
        padding: 15px;
        border-radius: 5px;
        left: 70%;
        bottom: 370px;
    }
    &--h2
    {
        font-size: 3em;
        margin: 2px;
        margin-left: 5%;
        &--e
        {
            font-size: 3em;
            margin: 2px;
            margin-left: 5%;
            margin-top: -30px;
        }
    }
    &--p
    {
        margin: 0%;
        margin-left: 5%;
    }
    &--i
    {
        margin:0px;
        padding:0px;
        position: relative;
        font-size: 4em;
        left: 90%;
        bottom: 95px;
        color: #FFF;
        background-color: #000;
        border-radius: 50%;
        &:hover
        {
            animation: heart 3s;
            animation-fill-mode: both;
        }

        @keyframes hear
        {
            0%{
            opacity: 0;
            }
            100% {
            opacity: 1;
            }
        }  
    }
}

footer
{
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 2em;
    & i
    {
        padding-right: 2%;
    }
}

.fo1
{
    @include font-1;
    margin: 2px;
}