footer
{
    margin: 0%;
    padding: 10px 0px 10px 20px;
    color: white;
    background-color: rgb(53, 53, 53);
    font-size: 1.2em;
}

.ii-1
{
    padding-right: 20px;
    @media screen and (min-width: 990px)
    {
        padding-right: 5px;
    }
}

.ii-2
{
    padding-right: 12px;
    @media screen and (min-width: 990px)
    {
        padding-right: 5px;
    }
}


.fo1
{
    margin: 0%;
    padding:10px 0px;
    @include font-1;
    @media screen and (min-width: 990px)
    {
        text-align: center;
    }
}

.fo5
{
    background-color: rgb(53, 53, 53);
    color: white;
}

#fo
{
    @include screen;
}

.fo
{
    margin: 0%;
    padding:3px 0px;
    @media screen and (min-width: 990px)
    {
        margin: 0%;
        padding:0%;
        width: 25%;
    }
}