footer
{
    margin: 0%;
    padding: 10px 0px 10px 20px;
    color: white;
    background-color: black;
    font-size: 2em;
    & i
    {
        padding-right: 2%;
    }
    @media screen and (min-width: 990px)
    {
        padding:0%;
    }
}

.fo1
{
    margin: 0%;
    padding:20px 0px;
    @include font-1;
    @media screen and (min-width: 990px)
    {
        text-align: center;
    }
}

#fo
{
    @include screen;
}

.fo
{
    margin: 0%;
    padding:10px 0px;
    @media screen and (min-width: 990px)
    {
        margin: 0%;
        padding:0%;
        width: 25%;
    }
}