footer
{
    margin: 0%;
    color: white;
    background-color: black;
    padding: 2%;
    font-size: 2em;
    & i
    {
        padding-right: 2%;
    }
}

.fo1
{
    @include font-1;
    @media screen and (min-width: 990px)
    {
        text-align: center;
    }
}

#fo
{
    @media screen and (min-width: 990px)
    {
        display: flex;
    }
}

.fo
{
    @media screen and (min-width: 990px)
    {
        margin: 0%;
        padding:0%;
        width: 25%;
    }
}