/* variable, mixins, listes */
/* important */
body {
  margin: 0%;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 100;
}

.arrow {
  position: absolute;
  align-items: Left;
  top: 50px;
  left: 50px;
  font-size: 4em;
}

.m--img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
@media screen and (min-width: 990px) {
  .m--img {
    position: relative;
    width: 240px;
    height: 240px;
    bottom: 140px;
    left: 280px;
    margin: -100px;
  }
}

.h4d {
  font-family: "Shrikhand";
  font-size: 4em;
  margin: 0px;
  padding: 20px;
  position: relative;
  bottom: 100px;
  border-radius: 50px 50px 0px 0px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 990px) {
  .h4d {
    bottom: 0px;
  }
}

.se2 {
  margin: 0%;
  padding: 0%;
  background-color: #f6f6f6;
}
.se2--h {
  font-weight: 100;
  font-size: 2.2em;
  margin: 0%;
  padding-top: 5px;
}
.se2--hb {
  margin: 0%;
  width: 100px;
  border-top: 5px solid #99E2D0;
}
@media screen and (max-width: 990px) {
  .se2--pla {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 990px) {
  .se2--pla {
    display: flex;
  }
}

.btn--a {
  margin: 100px 0px;
  padding: 0% 35%;
}
@media screen and (min-width: 990px) {
  .btn--a {
    padding: 0% 40%;
  }
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  box-shadow: 0px 30px 60px #d0d0d0;
}

button {
  background-color: transparent;
  text-decoration: none;
  border: 0px;
}

.btn1 {
  margin: 2%;
  margin-bottom: 10%;
  border-radius: 5em 5em 5em 5em;
  padding: 3em 6em;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 15px 30px #d0d0d0;
}
.btn1:hover {
  background: #ae80e5;
  background: #fface8;
}
@media screen and (min-width: 990px) {
  .btn1 {
    font-size: 1em;
  }
}
@media screen and (min-width: 990px) {
  .btn1 {
    margin-bottom: 2%;
  }
}

.nav {
  margin: 2%;
  padding: 5% 0%;
  width: 100%;
  border-radius: 50px;
  background-color: #f6f6f6;
  font-weight: 700;
  font-size: 2.2em;
  box-shadow: 0px 15px 30px #d0d0d0;
}
@media screen and (min-width: 990px) {
  .nav {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 990px) {
  .nav {
    display: flex;
    align-items: center;
    padding: 1%;
    width: 30%;
  }
}
.nav:hover {
  background-color: #e4d5f6;
  opacity: 0.7;
}
.nav:hover i {
  color: #9356DC;
}
.nav--s {
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  font-family: "Roboto";
  font-weight: 100;
  padding: 7px 20px;
  margin-left: -20px;
}
.nav--i {
  margin: 0px 45px;
}
.nav--i--1 {
  margin: 0px 50px;
}

.se {
  background-color: white;
  margin: 1%;
  margin-bottom: 1%;
  border-radius: 50px;
  position: relative;
}
@media screen and (min-width: 990px) {
  .se {
    width: 23%;
    height: 300px;
  }
}
.se--img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 50px 50px 0px 0px;
}
@media screen and (min-width: 990px) {
  .se--img {
    margin: 0%;
    display: flex;
    height: 70%;
  }
}
.se--h2 {
  margin: 1%;
  margin-left: 4%;
  font-size: 2.7em;
}
@media screen and (min-width: 990px) {
  .se--h2 {
    font-size: 1.7em;
  }
}
.se--p {
  margin: 0%;
  margin-left: 5%;
  font-size: 2em;
}
@media screen and (min-width: 990px) {
  .se--p {
    font-size: 1.5em;
  }
}
.se--em {
  background-color: #99E2D0;
  color: #4acbab;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 5px;
}
@media screen and (min-width: 990px) {
  .se--em {
    font-size: 1em;
  }
}
.se--as {
  position: relative;
}
.se--h {
  margin: 0px;
  padding: 0px;
  width: 35px;
  font-size: 4em;
  cursor: crosshair;
  position: absolute;
  bottom: 30px;
  right: 50px;
}
.se--h--1 {
  display: block;
}
.se--h--2 {
  display: none;
  color: #9356DC;
}
.se--h--3 {
  display: none;
  color: #FF79DA;
}
.se--h:hover > .se--h--1 {
  display: none;
}
.se--h:hover > .se--h--2 {
  display: block;
}
.se--h:hover > .se--h--3 {
  display: none;
}
.se--h:active > .se--h--1 {
  display: none;
}
.se--h:active > .se--h--2 {
  display: block;
  position: absolute;
}
.se--h:active > .se--h--3 {
  display: block;
  animation: hearto ease-in-out 2s;
  animation-fill-mode: both;
  transform-origin: bottom;
}
@keyframes hearto {
  from {
    transform: scale(0);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: 990px) {
  .se--h {
    font-size: 2em;
  }
  .se--h--1 {
    display: block;
  }
  .se--h--2 {
    display: none;
    color: #9356DC;
  }
  .se--h--3 {
    display: none;
    color: #FF79DA;
  }
  .se--h:hover > .se--h--1 {
    display: none;
  }
  .se--h:hover > .se--h--2 {
    display: block;
    position: absolute;
  }
  .se--h:hover > .se--h--3 {
    display: block;
    animation: heart ease-in-out 2s;
    animation-fill-mode: both;
    transform-origin: bottom;
  }
  @keyframes heart {
    from {
      transform: scale(0);
      opacity: 0.2;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  .se--h:active > .se--h--1 {
    display: none;
  }
  .se--h:active > .se--h--2 {
    display: none;
  }
  .se--h:active > .se--h--3 {
    display: block;
  }
}

.h4--h {
  margin: 0px;
  padding: 0px;
  width: 35px;
  font-size: 1em;
  cursor: crosshair;
  position: absolute;
  bottom: 100px;
  right: 100px;
}
@media screen and (min-width: 990px) {
  .h4--h {
    bottom: 80px;
    right: 120px;
  }
}
.h4--h--1 {
  display: block;
}
.h4--h--2 {
  display: none;
  color: #9356DC;
}
.h4--h--3 {
  display: none;
  color: #FF79DA;
}
.h4--h:hover > .h4--h--1 {
  display: none;
}
.h4--h:hover > .h4--h--2 {
  display: block;
}
.h4--h:hover > .h4--h--3 {
  display: none;
}
.h4--h:active > .h4--h--1 {
  display: none;
}
.h4--h:active > .h4--h--2 {
  display: block;
  position: absolute;
}
.h4--h:active > .h4--h--3 {
  display: block;
  animation: hearto ease-in-out 2s;
  animation-fill-mode: both;
  transform-origin: bottom;
}
@keyframes hearto {
  from {
    transform: scale(0);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: 990px) {
  .h4--h {
    font-size: 2em;
  }
  .h4--h--1 {
    display: block;
  }
  .h4--h--2 {
    display: none;
    color: #9356DC;
  }
  .h4--h--3 {
    display: none;
    color: #FF79DA;
  }
  .h4--h:hover > .h4--h--1 {
    display: none;
  }
  .h4--h:hover > .h4--h--2 {
    display: block;
    position: absolute;
  }
  .h4--h:hover > .h4--h--3 {
    display: block;
    animation: heart ease-in-out 2s;
    animation-fill-mode: both;
    transform-origin: bottom;
  }
  @keyframes heart {
    from {
      transform: scale(0);
      opacity: 0.2;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  .h4--h:active > .h4--h--1 {
    display: none;
  }
  .h4--h:active > .h4--h--2 {
    display: none;
  }
  .h4--h:active > .h4--h--3 {
    display: block;
  }
}

.se2--btn {
  background-color: white;
  width: 92%;
  margin: 4%;
  padding: 11px;
  border-radius: 30px;
  font-family: "Roboto" black;
  text-align: left;
  position: relative;
}
@media screen and (min-width: 990px) {
  .se2--btn {
    padding: 5px;
    width: 32%;
    margin: 1%;
  }
}
.se2--btn--h2 {
  margin: 0%;
  padding: 2px;
  font-weight: 700;
  font-size: 3.4em;
}
@media screen and (min-width: 990px) {
  .se2--btn--h2 {
    font-size: 2em;
  }
}
.se2--btn--b {
  margin: 0%;
  padding: 2px;
  font-weight: 100;
  font-size: 2.4em;
}
@media screen and (min-width: 990px) {
  .se2--btn--b {
    font-size: 1em;
  }
}
.se2--btn--h3 {
  float: right;
}
.se2--btn--cir {
  font-size: 5em;
  padding: 25px;
  border-radius: 0px 30px 30px 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
  background-color: #99E2D0;
}
@media screen and (min-width: 990px) {
  .se2--btn--cir {
    padding: 8px;
  }
}

.load {
  display: flex;
}
.load-d {
  margin: 40%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid #9356DC;
  border-top: hidden;
  animation: spinner ease-in-out 750ms;
  animation-iteration-count: 3;
  position: fixed;
  align-items: center;
  opacity: 0;
  top: 350px;
}
@media screen and (min-width: 990px) {
  .load-d {
    top: -350px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  0%, 10% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
.page {
  animation: page 3s;
  animation-fill-mode: both;
}

@keyframes page {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  margin: 0%;
  color: white;
  background-color: black;
  padding: 20px;
  font-size: 2em;
}
footer i {
  padding-right: 2%;
}

.fo1 {
  font-family: "Shrikhand";
  font-size: 1em;
  margin: 2px;
}
@media screen and (min-width: 990px) {
  .fo1 {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 990px) {
  .fo1 {
    text-align: center;
  }
}

@media screen and (min-width: 990px) {
  #fo {
    display: flex;
  }
}

@media screen and (min-width: 990px) {
  .fo {
    margin: 0%;
    padding: 0%;
    width: 24%;
  }
}

header {
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 5%;
  padding-bottom: 3%;
  background-color: white;
}

.titre {
  width: 100%;
}

/* index et pages */
#ar {
  background-color: #f6f6f6;
  align-items: center;
}
@media screen and (max-width: 990px) {
  #ar {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 990px) {
  #ar {
    display: flex;
    flex-direction: column;
  }
}

.ar1 {
  padding-top: 4%;
  padding-bottom: 4%;
  width: 100%;
  background-color: #eaeaea;
  margin: 0%;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
}
@media screen and (min-width: 990px) {
  .ar1 {
    font-size: 1.5em;
  }
}
.ar1--i {
  padding-right: 3%;
}

.ar2 {
  margin: 2%;
  margin-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}
@media screen and (min-width: 990px) {
  .ar2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 990px) {
  .ar2 {
    margin: 1% 1%;
    padding: 1% 1%;
  }
}

.ar3 {
  margin: 2%;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
}
@media screen and (min-width: 990px) {
  .ar3 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 990px) {
  .ar3 {
    margin: 1% 1%;
    padding: 1% 1%;
  }
}

@media screen and (min-width: 990px) {
  .ar {
    padding: 0%;
  }
}

.nav--f {
  padding: 0% 8%;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  text-align: left;
}
@media screen and (min-width: 990px) {
  .nav--f {
    font-size: 2em;
  }
}
@media screen and (min-width: 990px) {
  .nav--f {
    text-align: center;
    padding: 0% 0%;
  }
}

nav {
  margin: 7%;
}
@media screen and (max-width: 990px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 990px) {
  nav {
    margin: 3%;
    display: flex;
  }
}

.h1 {
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  text-align: left;
  background-color: #f6f6f6;
  margin: 0%;
  padding: 3% 7%;
}
@media screen and (min-width: 990px) {
  .h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 990px) {
  .h1 {
    text-align: center;
    padding: 3% 0%;
  }
}

#section {
  background-color: #f6f6f6;
  padding: 3% 7%;
}
@media screen and (max-width: 990px) {
  #section {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 990px) {
  #section {
    margin: 0%;
    padding: 0%;
    display: flex;
  }
}

body {
  background-color: #f6f6f6;
}

/*# sourceMappingURL=style.css.map */
