.btn1
{
    margin: 2%;
    margin-bottom: 10%;
    @include btn-1;
    @media screen and (min-width: 990px)
    {
        margin-bottom: 2%; 
    }
}

.nav
{
    margin: 2%;
    padding: 5% 0%;
    width: 100%;
    border-radius: 50px;
    background-color: $color-5;
    @include font-3;
    white-space: nowrap;
    box-shadow: $box-shadow;
    @media screen and (min-width: 990px)
    {
        display: flex;
        align-items: center;
        padding:1%;
        width: 30%;
    }
    &:hover
    {
        background-color: lighten($color-1,30%);
        opacity: 0.7;
        & i
        {
        color: $color-1;
        }
    }
    &--s
    {
        background-color: $color-1;
        color: white;
        border-radius: 50px;
        font-family: 'Roboto';
        font-weight: 100;
        padding: 7px 20px;
        margin-left: -20px;
    }
    &--i
    {
        margin: 0px 45px;
        &--1
        {
            margin: 0px 50px;
        }
    }
}

.se--a
{
    background-color: white;
    margin: 1%;
    border-radius:50px;
    @media screen and (min-width: 990px)
    {
        width: 23%;
        height: 300px;
    }

    &--img
    {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius:50px 50px 00px 0px;
        @media screen and (min-width: 990px)
        {
            margin: 0%;
            display: flex;
            height: 50%;
        }
    }

    &--h2
    {
        margin: 1%;
        margin-left: 4%;
        font-size: 3em;
        @media screen and (min-width: 990px)
        {
            font-size: 2em;
        }
    }

    &--p
    {
        margin: 0%;
        margin-left: 5%;
    }

    &--em
    {
        background-color: $color-3;
        color: darken($color-3,20%);
        font-weight: bold;
        font-size: 1.5em;
        position: relative;
        bottom: 350px;
        left: 75%;
        padding: 15px;
        border-radius: 5px;
        @media screen and (min-width: 990px)
        {
            font-size: 1em;
            bottom: 120px;
            left: 60%;
        }
    }

    &--i
    {
        margin:0px;
        padding:0px;
        font-size: 4em;
        color: #FFF;
        background-color: #000;
        border-radius: 50%;  
    }
}