a
{
    @include btn;
}

button
{
    @include btn;
}

/*choisir resto/commander*/
.btn1
{
    border-radius: 100px 100px 100px 100px;
    padding: 20px 40px;
    background: linear-gradient($color-2, $color-1);
    color: white;
    box-shadow: $box-shadow;
    margin: 5px 2% 40px 2%;
    font-size: 1em;
    &:hover
    {
        background: lighten($color-1, 10%);
        background: lighten($color-2, 10%);
    }
    @media screen and (min-width: 990px)
    {
        margin-bottom: 2%;
        font-size: 1.3em; 
    }
}

/*navigation*/
.btn2
{
    background-color: $color-5;
    margin: 10px 2%;
    padding: 25px 0px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 5px 10px #d0d0d0;
    @include font-3;
    @media screen and (min-width: 990px)
    {
        align-items: center;
        padding:1%;
        width: 30%;
    }
    &:hover
    {
        background-color: lighten($color-1,30%);
        opacity: 0.7;
        & i
        {
        color: $color-1;
        }
    }
    &--s
    {
        background-color: $color-1;
        color: white;
        border-radius: 50px;
        font-weight: 100;
        padding: 7px 12px;
        margin-left: -10px;
        @media screen and (min-width: 990px)
        {
            padding: 7px 14px;
            margin-left: -25px;
        }
    }
    &--i
    {
        margin: 0px 1px;
        &--1
        {
            margin: 0px 2px;
        }
        @media screen and (max-width: 990px)
        {
            margin: 0px 3%;
            &--1
            {
                margin: 0px 4%;
            }
        }
        @media screen and (min-width: 1100px)
        {
            margin: 0px 4%;
            &--1
            {
                margin: 0px 5%;
            }
        }
    }
}

/*resto*/
.btn3
{
    background-color: white;
    margin: 1%;
    margin-bottom: 1%;
    border-radius:20px;
    position: relative;
    @media screen and (min-width: 990px)
    {
        width: 23%;
        height: 300px;
    }
    &--em
    {
        background-color: $color-3;
        color: darken($color-3,40%);
        font-weight: bold;
        font-size: 1em;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 10px;
        border-radius: 5px;
    }
    &--img
    {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius:20px 20px 0px 0px;
        @media screen and (min-width: 990px)
        {
            margin: 0%;
            display: flex;
            height: 70%;
        }
    }

    &--h2
    {
        margin: 10px 0px 5px 4%;
        font-size: 1.3em;
        font-weight: bold;
        @media screen and (min-width: 990px)
        {
            font-size: 1.5em;
        }
    }

    &--p
    {
        margin: 0px 0px 10px 4%;
        font-size: 1em;
        @media screen and (min-width: 990px)
        {
            font-size: 1.2em;
        }
    }
}

/*coeur index*/
.btn4
{
    position: relative;
    background-color: transparent;
    &--h
    {
        margin:0px;
        padding:0px;
        width: 35px;
        position: absolute;
        bottom: 25px;
        right: 30px;
        font-size: 1.8em;
        @include btn-h;
        @media screen and (min-width: 990px)
        {
            font-size: 2em;
            bottom: 20px;
            right: 30px;
        }
    }
}

/*coeur page resto*/
.btn5
{
    padding: 1% 10% 1% 5%;
    &--h
    {
        margin:0px;
        padding:0px;
        width: 35px;
        position: absolute;
        bottom: 45px;
        right: 8%;
        font-size: 1.8em;
        @include btn-h;
        @media screen and (min-width: 990px)
        {
            bottom: 40px;
            font-size: 2em;
        }
        &:visited > &--3
        {
        display: block;
        }
    }
}

/*plats*/
.btn6
{
    background-color: white;
    margin: 10px 4%;
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 10px #d0d0d0;
    &:active > &--3
    {
        animation: righ ease-in-out 1s;
        animation-fill-mode: both;
        @keyframes righ
        {
            0%{
                right: 15px;
            }
            40% {
                right: 30px;
            }  
            100% {
                right: 90px;
            }  
        }
    }
    @media screen and (min-width: 990px)
    {
        width: 32%;
        margin: 1%;
        &:hover > &--3
        {
            animation: rig ease-in-out 1s;
            animation-fill-mode: both;
            @keyframes rig
            {
                0%{
                    right: 15px;
                }
                50%{
                    right: 15px;
                }
                100% {
                    right: 100px;
                }  
            }
        }
    }
    &--1
    {
        font-weight: bold;
        font-size: 1.2em;
        @media screen and (min-width: 990px)
        {
            font-size: 1.5em;
        }
    }

    &--d
    {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space:nowrap;
        @media screen and (min-width: 990px)
        {
            padding-right: 30px;
        }
    }

    &:hover > &--d
    {
        @media screen and (min-width: 990px)
        {
            width: 50%;
        }
    }

    &:active > &--d
    {
        width: 65%;
    }

    &--2
    {
        font-weight: 100;
        font-size: 1em;
        @media screen and (min-width: 990px)
        {
            font-size: 1em;
        }
    }
    &--3
    {
        position: absolute;
        right: 10px;
        bottom: 15px;
        font-size: 1em;
        font-weight: bold;
        @media screen and (min-width: 990px)
        {
            font-size: 1.2em;
            bottom: 4px;
        }
    }
    &--cir
    {
        padding: 25px;
        border-radius: 0px 15px 15px 0px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: white;
        background-color: $color-3;
        display: none;
        animation: cir ease-in-out 1s;
        animation-fill-mode: both;
        @media screen and (min-width: 990px)
        {
            padding: 20px;
        }
    }
    &:hover > &--cir
    {
        @media screen and (min-width: 990px)
        {
            display: block;
            @keyframes cir
            {
                0%{
                    transform: translate(150px, 0px);
                }
                100% {
                    transform: translate(0px, 0px);
                }  
            }
        }
    }
    &:active > &--cir
    {
        display: block;
        @keyframes cir
        {
            0%{
                transform: translate(150px, 0px);
            }
            100% {
                transform: translate(0px, 0px);
            }  
        }
    }
    &:visited > &--cir
    {
    display: block;
    }

    &--i
    {
        font-size: 1.5em;
        animation: i ease-in-out 1s;
        animation-fill-mode: both;
        @media screen and (min-width: 990px)
        {
            font-size: 3em;
        }
    }
    &:hover > &--i
    {
        @media screen and (min-width: 990px)
        {
            display: block;
            @keyframes i
            {
                0%{
                    transform: rotate(0deg);
                }
                50%{
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }  
            }
        }
    }
    &:active > &--i
    {
        display: block;
        @keyframes i
        {
            0%{
                transform: rotate(0deg);
            }
            50%{
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }  
        }
    }
    &--b1
    {
        animation: tra 0.3s;
        animation-fill-mode: both;
        
    }
    &--b2
    {
        animation: tra 0.6s;
        animation-fill-mode: both;
    }
    &--b3
    {
        animation: tra 0.9s;
        animation-fill-mode: both;
    }
    &--b4
    {
        animation: tra 1.2s;
        animation-fill-mode: both;
    }
    @include tra;
}

/*commander*/
.btn7
{
    margin: 50px 0%;
    text-align: center;
    &--a
    {
        border-radius: 100px 100px 100px 100px;
        padding: 20px 40px;
        background: linear-gradient($color-2, $color-1);
        color: white;
        box-shadow: $box-shadow;
        font-size: 1.5em;
        &:hover
        {
            background: lighten($color-1, 10%);
            background: lighten($color-2, 10%);
        }
        @media screen and (min-width: 990px)
        {
            margin-bottom: 2%;
            font-size: 1.3em; 
        }
    }
}

