#ar
{
    background-color: $color-5;
    @include mobile;
    @media screen and (min-width: 990px)
    {
        display: flex;
        flex-direction: column;
    }
    align-items: center;
}

.ar1
{
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    background-color: $color-4;
    margin: 0%;
    @include font-4;
    &--i
    {
        padding-right: 3%;
    }
}

.ar2
{
    margin: 2%;
    margin-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    @include font-2;
    @media screen and (min-width: 990px)
    {
        margin: 1% 1%;
        padding: 1% 1%;
    }
}

.ar3
{
    margin: 2%;
    padding-left: 5%;
    padding-right: 5%;
    @include font-4;
    @media screen and (min-width: 990px)
    {
        margin: 1% 1%;
        padding: 1% 1%;
    }
}

.ar
{
    @media screen and (min-width: 990px)
    {
        padding: 0%;
    }
}

.nav--f
{
    padding: 0% 8%;
    @include font-2;
    text-align: left;
    @media screen and (min-width: 990px)
    {
        text-align: center;
        padding: 0% 0%;
    }
}

nav
{
    @include mobile;
    margin: 7%;
    @media screen and (min-width: 990px)
    {
        margin: 3%;
        display: flex;
    }
}

.h1
{
    @include font-2;
    text-align: left;
    background-color: $color-5;
    margin: 0%;
    padding: 3% 7%;
    @media screen and (min-width: 990px)
    {
        text-align: center;
        padding: 3% 0%;
    }
}

#section
{
    background-color: $color-5;
    padding: 3% 7%;
    @include mobile;
    @media screen and (min-width: 990px)
    {
        margin: 0%;
        padding: 0%;
        display: flex;
    }
}