#ar
{
    background-color: $color-5;
    @include screen;
    align-items: center;
    @media screen and (min-width: 990px)
    {
        flex-direction: column;
    }

}

.ar1
{
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    background-color: $color-4;
    margin: 0%;
    @include font-4;
    &--i
    {
        padding-right: 3%;
    }
}

.ar2
{
    margin: 2%;
    margin-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    @include font-2;
}

.ar3
{
    margin: 2%;
    padding-left: 5%;
    padding-right: 5%;
    @include font-4;
}

.ar
{
    @media screen and (min-width: 990px)
    {
        padding: 0%;
        margin: 0%;
    }
}

.nav--1
{
    padding: 0% 8%;
    @include font-2;
    text-align: left;
    @media screen and (min-width: 990px)
    {
        text-align: center;
        margin: 0%;
        padding: 0%;
    }
}

#nav
{
    @include screen;
    margin: 7%;
    @media screen and (min-width: 990px)
    {
        margin: 0%;
    }
}

.se0--1
{
    @include font-2;
    text-align: left;
    background-color: $color-5;
    margin: 0%;
    padding: 3% 7%;
    @media screen and (min-width: 990px)
    {
        text-align: center;
        padding: 1% 0%;
    }
}

#se0
{
    @include screen;
    background-color: $color-5;
    margin: 0%;
    padding: 3% 7%;
    @media screen and (min-width: 990px)
    {
        padding: 0%;
    }
}