@include resto;

.btn6
{
    &--4pla
    {
        @media screen and (min-width: 990px)
        {
            width: 24%;
        }
    }

    &--d--4pla
    {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space:nowrap;
    }

    &:hover > &--d--4pla
    {
        @media screen and (min-width: 990px)
        {
            width: 60%;
       }
    }

    &:active > &--d--4pla
    {
        width: 60%;
    }
}