@mixin mobile
{
    @media screen and (max-width: 990px)
    {
    display: flex;
    flex-direction: column;
    }
}

@mixin screen
{
    @media screen and (max-width: 990px)
    {
    display: flex;
    flex-direction: column;
    }
    @media screen and (min-width: 991px)
    {
    display: flex;
    }
}

@mixin btn
{
    color: black;
    text-decoration: none;
    background-color: transparent;
    border: 0px;
    &:hover
    {
        box-shadow: $box-shadow-h;
    }
}

@mixin btn-h
{
    cursor: crosshair;
    &--1
    {
        display: block;
    }
    &--2
    {
        display: none;
        color: $color-1;
    }
    &--3
    {
        display: none;
        color: $color-2;
    }
    &:hover > &--1
    {
        display: none;
    }
    &:hover > &--2
    {
        display: block;
    }
    &:hover > &--3
    {
        display: none;
    }
    &:active > &--1
    {
        display: none;
    }
    &:active > &--2
    {
        display: block;
        position: absolute;
    }
    &:active > &--3
    {
        @include heart
    }
    @media screen and (min-width: 990px)
    {
        &--1
        {
            display: block;
        }
        &--2
        {
            display: none;
            color: $color-1;
        }
        &--3
        {
            display: none;
            color: $color-2;
        }
        &:hover > &--1
        {
            display: none;
        }
        &:hover > &--2
        {
            display: block;
            position: absolute;
        }
        &:hover > &--3
        {
            @include heart;
        }
        &:active > &--1
        {
            display: none;
        }
        &:active > &--2
        {
            display: none;
        }
        &:active > &--3
        {
            display: block;
        }
    }
}

@mixin font-1
{
    font-family: $police-2;
    font-size: 2em;
    @media screen and (min-width: 990px)
    {
        font-size: 1em;
    }
}

@mixin font-2
{
    font-family: $police-1;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    @media screen and (min-width: 990px)
    {
        font-size: 3em;
    }
}

@mixin font-3
{
    font-family: $police-1;
    font-weight: 500;
    font-size: 2.8em;
    @media screen and (min-width: 990px)
    {
        font-size: 1.2em;
    }
}

@mixin font-4
{
    font-family: $police-1;
    font-weight: 100;
    font-size: 1.8em;
    text-align: center;
    @media screen and (min-width: 990px)
    {
        font-size: 1.5em;
    }
}

@mixin heart
{
    display: block;
    animation: heart ease-in-out 1s;
    animation-fill-mode: both;
    transform-origin: bottom;
    @keyframes heart{
        from{
            transform: scale(0);
            opacity: 0.2; 
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
}

@mixin tra
{
    @keyframes tra
    {
        0%{
            opacity: 0;
            transform: translate(0px, 50px);
        }
        50%{
            opacity: 0;
            transform: translate(0px, 50px);
        }
        100% {
            transform: translate(0px, 0px);
            opacity: 1;
        }  
    }
    @media screen and (min-width: 990px)
    {
        @keyframes tra
        {
            0%{
                opacity: 0;
                transform: translate(50px, 0px);
            }
            50%{
                opacity: 0;
                transform: translate(50px, 0px);
            }
            100% {
                transform: translate(0px, 0px);
                opacity: 1;
            }  
        }
    }
}


